.hidden {
  display: none;
}

.moves {
  margin: 6px;
  padding: 2px 0px;
  background-color: white;
  color: black;
  border-radius: 7px;
}

#unstyled-modal-title {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.button {
  padding: 3px;
  background-color: #F46036;
  color: white;
  border-radius: 7px;
}

.x-button {
  background-color: #F46036;
  color: white;
  margin: 7px 0px;
  border-radius: 8px;
}

.game-card {
  background: #1B998B;
  border: 5px double white;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
}

.game-title {
  color: white;
  text-shadow: 2px 2px 3px #F46036;
  padding: 10px;
  font-size: 3rem;
}