.footerContainer {
    margin-top: 2rem;
    display: flex;
    background: white;
    flex-direction: column;
    border: 4px solid #2E294E;
}
  
.footerItems {
    display: flex;
    justify-content: center;
}