.button {
  padding: 3px;
  background-color: #f46036;
  color: white;
  border-radius: 7px;
  margin: 10px;
}

.guide-card {
  background: #1b998b;
  border: 5px double black;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
}

.body {
  background-color: white;
  border-radius: 15px;
  padding: 20px 30px;
  margin: 20px;
  border: 2px solid #2e294e;
}

.guide-title {
  color: white;
  text-shadow: 2px 2px 3px #f46036;
  padding: 10px;
  font-size: 2rem;
}
