.tableContainer {
  background: #1b998b;
  border: 5px double white;
  padding: 10px;
  box-shadow: 0px 0px 20px black;
  border-radius: 15px;
  color: white;
  margin-top: 50px;
}

.game-title {
  font-size: 50px;
  text-align: start;
  color: white;
  text-shadow: 2px 2px 3px #f46036;
}

.tableHeader {
  color: #f46036;
  font-size: 20px;
}

.score {
  padding-right: 30px !important;
}

@media only screen and (min-width: 992px) {
  .tableContainer {
    max-width: 50%;
  }
}
